html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
}
body {
    background-size: 100% 700px;
    background-image: url("images/img1.jpg");
    background-repeat: no-repeat;
}
.nav-container {
    display: flex;
    justify-content: right;
    margin-top: 2%;
    margin-right: 8%;
}
.nav-bg {
    background-color: white;
    width: 70%;
    position: absolute;
    height: 30px;
    opacity: 30%;
    border-radius: 20px;
    height: 50px;
    top: 18px ;
    z-index: -1;
}
a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 50px;
    font-family: sans-serif;
    margin-right: 50px;
    font-weight: bold;
    z-index: 1;
    transition: color .5s ease-in-out, .1s ease-in-out;
}

a:hover {
    color: blue;
    padding: 7px;
    border-radius: 10px;
    background-color: white;
    margin-top: 1%;
}
.intro {
    margin-top: 10%;
}
.intro h1 {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    font-family: monospace;
    overflow: hidden; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s forwards;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 68% }
  }
  
.btn-lp {
    margin-left: 45%;
    margin-top: 3%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
    transition: 0.3s;
}
.btn-lp:hover {
    background-image: linear-gradient(to right, rgb(175, 233, 233), rgb(123, 123, 247), blue
    );
}
@media screen and (max-width: 600px) {
    .tis {
        font-size: 20px;
    }
    .btn-lp {
        margin-right: 30%;
    }
    
}